<h2>Podcast Check Results</h2>
<table>
  <% unless @feed.valid? %>
    <tr><td>Url</td><td><%= @feed.url %></td></tr>
  <% end %>
  <tr><td>Title</td><td><%= @feed.title %></td></tr>
  <tr><td>Updated at</td><td><%= @feed.updated_at %></td></tr>
  <tr><td>Image</td><td><%= @feed.has_image? ? "Found" : "Not Found" %></td></tr>
  <tr><td>Episode Count</td><td><%= @feed.episodes.count %></td></tr>
  <tr><td>Summary</td><td>
  <% if @feed.valid? %>
    <p>The feed appears to be valid.  The most recent episodes are shown below.<p>
    <p>If you see the episodes that are missing, the problem is with your <u>podcast player</u>.  You can try a different app or see if you can force a refresh of the podcast feed.</p>
    <% if @feed.patreon? %>
      <p>If you do not see the episodes below, the problem is with <a href="https://www.patreon.com">Patreon</a> and you need to work with them.</p>
    <% else %>
      <p>If you do not see the episodes below, the problem is with the <b>publisher of the podcast</b> and you need to get support from them.</p>
    <% end %>
  <% else %>
    Problems were encountered while loading this feed.
  <% end %> 
  </td></tr>
</table>
<% if @feed.has_image? %>
  <div class="flex lg:w-1/3 md:w-1/2 sm:w-full m-auto mb-4 p-2 border-transparent border-2 listen-wrapper" >
    <div class="bg-white w-full h-full border-gray shadow card p-4">
      <img src="<%= @feed.image_url %>" style="margin: auto" />
    </div>
  </div>
<% end %>
<% if @feed.episodes.count > 0 %>
  <% @feed.episodes.take(10).each_with_index do |ep, i| %>
    <% episode = Episode.new(ep) %>
    <%= render "shared/episode", episode: episode, index: i %>
  <% end %>
  <%= render "shared/play_controls" %>
<% end %>