<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">
<channel>
  <title><%= @mini_feed.feed_name %></title>
  <link><%= tag_from_main("/rss/channel/link") %></link>
  <description><%= tag_from_main("/rss/channel/description") %></description>
  <atom:link><%= tag_from_main("/rss/channel/atom:link/@href") %></atom:link>
  <itunes:owner>
    <itunes:name><%= tag_from_main("//itunes:name") %></itunes:name>
    <itunes:email><%= tag_from_main("//itunes:email") %></itunes:email>
  </itunes:owner>
  <itunes:author><%= tag_from_main("/rss/channel/itunes:author") %></itunes:author>
  <itunes:image href="<%= @mini_feed.image.url %>"></itunes:image>
  <itunes:category><%= tag_from_main("/rss/channel/itunes:category") %></itunes:category>
  <googleplay:block><%= tag_from_main("/rss/channel/googleplay:block") %></googleplay:block>
  <itunes:block><%= tag_from_main("/rss/channel/itunes:block") %></itunes:block>
  <language><%= tag_from_main("/rss/channel/language") %></language>
  <pubDate><%= tag_from_main("/rss/channel/pubDate") %></pubDate>
  <lastBuildDate><%= tag_from_main("/rss/channel/lastBuildDate") %></lastBuildDate>
  <image>
    <url><%= @mini_feed.image.url %></url>
    <title><%= @mini_feed.feed_name %></title>
    <link><%= tag_from_main("/rss/channel/link") %></link>
  </image>
  <% @episodes.each do |episode| %>
    <%= episode.to_xml.html_safe %>
  <% end %>
</channel>
</rss>