<% path = local_assigns[:path] %>
<% classes = local_assigns[:classes] %>
<div class="flex lg:w-1/3 md:w-1/2 sm:w-full m-auto mb-4 p-2 border-transparent border-2 card-wrapper <%= classes %>" >
  <div class="bg-white w-full h-full border-gray shadow card">
    <a href="<%= path %>" aria-label="<%= feed.name %>">
      <div style="width: 100%; padding-bottom: 100%; background-image: url('<%= feed.image.url %>'); background-size: contain; background-repeat: no-repeat;">
      </div>
    </a>
    <div class="p-2">
      <div class="text-xl" style="min-height: 3em;"><%= feed.name %></div>
      <% if feed.is_a?(MiniFeed) %>
        <div class="text-sm"><i class="text-orange fa fa-calendar"></i> <%= format_date(feed.polled_at) %></div>
      <% end %>
      <% if feed.is_a?(MainFeed) %>
        <div class="text-sm"><i class="text-orange fa fa-calendar"></i> Polled: <%= format_date(feed.polled_at) %></div>
      <% end %>
      
      
      <% if feed.is_a?(MiniFeed) %>
        <div class="text-sm mt-2"><i class="text-orange fa fa-rss"></i> URL</div>
        <textarea readonly class="text-sm" style="overflow: scroll; height: 4em;border: 0; width: 90%; margin:auto; resize: none" 
        onclick="copyToClipboard('<%= feed.url %>', <%= feed.id %>);" aria-label="URL for <%= feed.name %>"><%= feed.url %></textarea>
        <span class='notice' style='opacity: 0' class='border border-gray px-2 text-sm bg-light-gray' id='feed-<%= feed.id %>'>Copied</span>
      <% end %>
    </div>
  </div>
</div>