<div class="flex lg:w-1/3 md:w-1/2 sm:w-full m-auto mb-4 p-2 border-transparent border-2 card-wrapper listen-wrapper" >
  <div class="bg-white w-full h-full border-gray shadow card p-4">
    <h3><%= episode.title %></h3>
    <p><%= episode.pub_date.strftime("%A %B %d, %Y") %></p>
    <%= episode.description.html_safe %>
    <a class="blue-glow w-1/4 text-center uppercase bg-dark-blue text-sm text-white font-bold py-2 px-4"
      style="color: white" id="set_<%= index %>" href="javascript:play(<%= index %>, '<%= episode.url %>')">Play</a>
    <div id="play_<%= index %>">
    </div>
  </div>
</div>