<!doctype html><html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MiniCast - A Podcast and RSS splitter">
    <meta name="author" content="Matt Mercieca">
    <meta name="robots" content="index,follow">
    <meta property="og:site_name" content="MiniCast - A Podcast and RSS splitter">
    <meta property="og:title" content="MiniCast - A Podcast and RSS splitter">
    <meta property="og:description" content="MiniCast - A Podcast and RSS splitter">
    <meta property="og:url" content="/">
    <meta name="theme-color" content="#ffffff">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>MiniCast - A Podcast and RSS splitter</title>
    <script src="https://kit.fontawesome.com/87d9f919f8.js" crossorigin="anonymous"></script>
  </head>
  <body id="top" class="font-sans text-gray-800 bg-gray-100">
    <%= render partial: "/shared/header" %>
    <main id="main" class="w-full flex flex-col">
      <div class="self-center w-full sm:w-2/3 sm:px:0 pt-8">
        <% unless flash["error"].blank? %>
          <div class="flex flex-row-reverse w-full border p-4 font-bold rounded fade-out" style="background-color: #ffa822;">
            <div class="w-1/16" onClick="removeFlash(this)">X</div>
            <div class="w-full"><%= flash["error"] %></div>
          </div>
        <% end %>
        <% unless flash["notice"].blank? %>
          <div class="flex flex-row-reverse w-full border p-4 font-bold rounded fade-out" style="background-color: #1ac0c6">
            <div class="w-1/16" onClick="removeFlash(this)">X</div>  
            <div class="w-full"><%= flash["notice"] %></div>
          </div>
        <% end %>
        <div class="font-light text-black text-lg">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render partial: "/shared/footer" %>
  </body>
  <script>
    function removeFlash(el) {
      el.parentElement.style.display = "none";
    }
  </script>
</html>
