<!doctype html><html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MiniCast - A Podcast and RSS splitter">
    <meta name="author" content="Matt Mercieca">
    <meta name="robots" content="index,follow">
    <meta property="og:site_name" content="MiniCast - A Podcast and RSS splitter">
    <meta property="og:title" content="MiniCast - A Podcast and RSS splitter">
    <meta property="og:description" content="MiniCast - A Podcast and RSS splitter">
    <meta property="og:url" content="/">
    <title>MiniCast - A Podcast and RSS splitter</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <script src="https://kit.fontawesome.com/87d9f919f8.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body id="top" class="font-sans text-gray-800 bg-gray-100 pb-16 bg-light-gray">
    <%= render partial: "/shared/header" %>
    <main id="main" class="w-full flex flex-col">
      <div class="self-center w-full sm:w-2/3 sm:px:0">
        <div class="font-light text-black text-lg pt-24">
          <% unless flash["error"].blank? %>
            <div class="flex flex-row-reverse w-full border p-4 font-bold rounded fade-out" style="background-color: #ffa822;">
              <div class="w-1/16" onClick="removeFlash(this)">X</div>
              <div class="w-full"><%= flash["error"] %></div>
            </div>
          <% end %>
          <% unless flash["notice"].blank? %>
            <div class="flex flex-row-reverse w-full border p-4 font-bold rounded fade-out" style="background-color: #1ac0c6">
              <div class="w-1/16" onClick="removeFlash(this)">X</div>  
              <div class="w-full"><%= flash["notice"] %></div>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render partial: "/shared/footer" %>
  </body>
  <script>
    function removeFlash(el) {
      el.parentElement.style.display = "none";
    }
  </script>
  <% flash[:error] = ''; flash[:notice] = '' %>
  <script>
  function copyToClipboard(data, notice) {
    navigator.clipboard.writeText(data).then(function() {
      el = document.getElementById('feed-' + notice);
      el.style.opacity = '1';
      setTimeout(fadeOut.bind(null, el), 1000);
    });
    
  }

  function fadeOut(el) {
    el.style.opacity = '0';
  }
</script>
</html>
